:root.theme-dark {
  --background-image-light: url(../images/cover-image-dark.png);
  --background-color: #00083c;
  --accent-color: #FF0070;
  --contrast-base-color: #FF0070;
  --contrast-text-base-color: #F1B2CE;
  --contrast-title-base-color: #000028;
  --contrast-hover-color: rgba(255, 0, 112, 0.5);
  --header-title-color: #DB00FF;
  --rec-visibility: visible;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-image-light: url(../images/cover-image-dark.png);
    --background-color: #00083c;
    --accent-color: #FF0070;
    --contrast-base-color: #FF0070;
    --contrast-text-base-color: #F1B2CE;
    --contrast-title-base-color: #000028;
    --contrast-hover-color: rgba(255, 0, 112, 0.5);
    --header-title-color: #DB00FF;
    --rec-color: #FF0070;
    --rec-visibility: visible;
  }
}