.page {
    background-color: var(--background-color);
    background-image: var(--background-image);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  padding-block-start: var(--margin-on-the-sides-section);
  padding-block-end: var(--margin-on-the-sides-section);
  block-size: 100vh;
  min-block-size: 668px;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  border: 1px solid var(--contrast-base-color);
  inline-size: 25px;
  block-size: 25px;

}

.decorated-zone::before {
  top: var(--margin-on-the-sides-section);
  right: var(--margin-on-the-sides-section);
  border-inline-start: none;
  border-block-end: none;
}

.decorated-zone::after {
  bottom: var(--margin-on-the-sides-section);
  left: var(--margin-on-the-sides-section);
  border-inline-end: none;
  border-block-start: none;
}

.rec_icon {
  position: absolute;
  top: 10px;
  right: 38px;
  visibility: var(--rec-visibility);
  color: var(--accent-color);
  font-style: normal;
  text-transform: uppercase;
}

.rec_icon::after {
  content: "";
  position: absolute;
  top: 7px;
  right: -18px;
  visibility: var(--rec-visibility);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0 0 10px var(--accent-color);
  background-color: var(--accent-color);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
  margin-inline-start: var(--margin-on-the-sides-section);
  margin-inline-end: var(--margin-on-the-sides-section);
}

.header__theme-menu-button {
  border: none;
  font-weight: normal;
  line-height: 18px;
  text-transform: lowercase;
  
  background-color: transparent;
  inline-size: 70px;
  block-size: 26px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--contrast-hover-color);
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--contrast-base-color);
  outline: none;
}

.header__theme-menu-item:not(:first-child) {
  margin-block-start: 10px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--contrast-base-color);
  pointer-events: none;
}

.header_title {
  margin-inline-start: var(--margin-on-the-sides-section);
  margin-inline-end: var(--margin-on-the-sides-section);
  color: var(--header-title-color);
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
  }

.title-decor {
  color: var(--contrast-title-base-color);
  background-color: var(--accent-color);
}

.header_text_container {
  align-self: center;
  margin-inline-start: var(--margin-on-the-sides-section);
  margin-inline-end: var(--margin-on-the-sides-section);
}

.header_text {
  color: var(--contrast-title-base-color);
  font-weight: bold;
}

.section {
  display: grid;
  grid-template-columns: 1fr;
  margin-inline-start: var(--margin-on-the-sides-section);
  margin-inline-end: var(--margin-on-the-sides-section);
  margin-block-end: var(--margin-end-of-section);
}

.link {
  text-decoration: none;
  text-shadow: 2px 1px var(--accent-color);
}

.link:hover {
  border-bottom: 1px solid var(--contrast-base-color);
  cursor: pointer;
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--contrast-base-color);
}

.hard_keep_concentration {
  margin-block-start: 40px;
}

.common_articles_title {
  margin-block-end: 20px;
  font-weight: bold;
}

.article + .article {
  margin-block-start: 20px;
}

.advise_group_title {
  margin-block-end: 20px;
  font-weight: bold;
}

.article_bold_title {
  margin-block-end: 10px;
  font-weight: bold;
}

.article_normal_title {
  margin-block-end: 10px;
  font-weight: normal;
}

.article_text {
  color: var(--contrast-text-base-color);
  font-weight: normal;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
}

.gallery_image {
  display: block;
  object-fit: contain;
  object-position: center;
  inline-size: 100%;
}

.gallery_image + .gallery_image {
  margin-block-start: 10px;
}

.images_section {
    margin-block-end: var(--margin-end-of-images-section);
}

.footer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  block-size: 100vh;
  min-block-size: 668px;
}

.footer_title_container {
  justify-self: center;
  align-self: center;
}

@media (width >= 768px) {
  :root {
    --margin-on-the-sides-section: 20px;
    --margin-end-of-section: 80px;
    --margin-end-of-images-section: 60px;
  }

  .header {
    grid-template-columns: 1fr 52%;
  }
  
  .header__theme-menu {
    grid-column: span 2;
  }

  .rec_icon {
    top: 20px;
    right: 48px;
  }

  .header_title {
    grid-column: span 2;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  
  .header_text_container {
    grid-column: 2/3;
  }

  .hard_keep_concentration,
  .decline_concentration,
  .gold_fish_concentration {
    grid-template-columns: 1fr 65%;
    column-gap: 20px;
  }

  .hard_keep_concentration {
  margin-block-start: 60px;
  }

  .decline_concentration_articles_container {
    grid-column: span 2;
    grid-row: 2;
  }

  .gold_fish_concentration_articles_container {
    grid-column: 2;
  }

  .images_section_title {
    margin-block-end: 20px;
  }

  .gallery_image + .gallery_image {
    margin-block-start: 0px;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, fit-content);
    grid-gap: 20px;
  }

  .gallery_image {
    object-fit: cover;
  }

  .sunser_image {
    grid-column: span 2;
  }

  .ice-cream_image {
    grid-row: span 2;
    block-size: 100%;
  }

  .tape_image {
    grid-row: span 2;
    block-size: 100%;
  }

  .street_image {
    grid-column: span 2;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
    
  }

  .header__theme-menu-list {
    display: flex;
    gap: 10px;
  }

  .header__theme-menu-list .header__theme-menu-item {
  margin-block-start: 0px;
  }

  .decline_concentration_articles_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }

  .decline_concentration_articles_container .article {
    margin-block-start: 0px;
  }

}